Host dev-bastion.infra.appenin.fr
  # Please make a writable directory available to store the sockets (ex: ~/.ssh/sockets/)
  ControlPath ~/.ssh/sockets/%r@%h-%p
  User debian
  AddKeysToAgent yes
  ForwardAgent yes
  ServerAliveInterval 600
  ControlMaster auto
  ControlPersist 4h
  StrictHostKeyChecking no

# !dev-bastion.infra.appenin.fr is needed to prevent from creating a loop
Host dev-*.infra.appenin.fr !dev-bastion.infra.appenin.fr
  User debian
  AddKeysToAgent yes
  ForwardAgent Yes
  ProxyCommand ssh -W %h:%p dev-bastion.infra.appenin.fr
  ServerAliveInterval 600
  TCPKeepAlive yes
  StrictHostKeyChecking no

Host staging-bastion.infra.appenin.fr
  # Please make a writable directory available to store the sockets (ex: ~/.ssh/sockets/)
  ControlPath ~/.ssh/sockets/%r@%h-%p
  User debian
  AddKeysToAgent yes
  ForwardAgent yes
  ServerAliveInterval 600
  ControlMaster auto
  ControlPersist 4h
  StrictHostKeyChecking no

# !staging-bastion.infra.appenin.fr is needed to prevent from creating a loop
Host staging-*.infra.appenin.fr !staging-bastion.infra.appenin.fr
  User debian
  AddKeysToAgent yes
  ForwardAgent Yes
  ProxyCommand ssh -W %h:%p staging-bastion.infra.appenin.fr
  ServerAliveInterval 600
  TCPKeepAlive yes
  StrictHostKeyChecking no

Host prod-bastion.infra.appenin.fr
  # Please make a writable directory available to store the sockets (ex: ~/.ssh/sockets/)
  ControlPath ~/.ssh/sockets/%r@%h-%p
  User debian
  AddKeysToAgent yes
  ForwardAgent yes
  ServerAliveInterval 600
  ControlMaster auto
  ControlPersist 4h
  StrictHostKeyChecking no

# !prod-bastion.infra.appenin.fr is needed to prevent from creating a loop
Host prod-*.infra.appenin.fr !prod-bastion.infra.appenin.fr
  User debian
  AddKeysToAgent yes
  ForwardAgent Yes
  ProxyCommand ssh -W %h:%p prod-bastion.infra.appenin.fr
  ServerAliveInterval 600
  TCPKeepAlive yes
  StrictHostKeyChecking no